@import "colors";

@import "components/nav";
@import "components/site-footer";
@import "components/image-slider";
@import "components/project-card";
@import "components/contact-form";

@import "states/home";
@import "states/portfolio";
@import "states/project";
@import "states/resume";

@import "components/header";

* {  box-sizing: border-box;  }

html, body {height: 100%;}

body {
  position: relative;
  background-color: white;

  font-size: 16px;
  @media only screen and (min-width: 600px) {font-size: 17px;}

  font-family: "pt_sansregular", sans-serif;

  h1 {font-size: 2.5em;}
  h2 {font-size: 2.2em;}
  h3 {font-size: 1.9em;}
  h4 {font-size: 1.6em;}
  h5 {font-size: 1.3em;}
  p {font-size: 1em;}
  small {font-size: .7em;}

  button, [href], [ui-sref], a {cursor: pointer;}

  > main {
    padding: 10px 5px;
    @media only screen and (min-width: 600px) {padding: 20px;}
  }

}

.card {
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

a {
  text-decoration: none;
}

a:not(.button) {
  color: $blue;
  &:hover {
    color: $charcoal;
  }
}

a.round-button, .round-button {
  display: inline-block;
  padding: 15px;
  background-color: $blue;
  border: 2px solid $blue;
  border-radius: 2px;
  color: white;

  &:hover {
    color: $blue;
    background: white;
  }
}