<image-slider ng-if="project" images="project.images"></image-slider>

<div class="text-container">

    <h2 ng-if="project.inProgress" class="in-progress">In Progress!</h2>

    <h1>The Project</h1>
    <p ng-bind-html="project.description"></p>

    <h1>My Role</h1>
    <p ng-bind-html="project.role"></p>

    <h1 ng-if="project.technologies.length">Technologies Used</h1>
    <ul ng-if="project.technologies.length">
        <li ng-repeat="technology in project.technologies">{{technology}}</li>
    </ul>

</div>


<div class="button-container">

    <button ng-if="previousProject" ui-sref="portfolio.project({{previousProject.stateParams}})" class="previous round-button">
        <h1>Previous</h1>
        <p>{{previousProject.name}}</p>
    </button>

    <button ng-if="nextProject" ui-sref="portfolio.project({{nextProject.stateParams}})" class="next round-button">
        <h1>Next</h1>
        <p>{{nextProject.name}}</p>
    </button>
</div>
