body > #wrapper > header {
  width: 100%;
  background: $charcoal;
  padding: 10px;
  color: white;

  nav {

    ul {
      width: 100%;
      padding: 10px 20px;

      li {
        display: inline-block;
        border-bottom: 2px solid transparent;
        text-transform: uppercase;
        line-height: 20px;
        &:not(:last-child) {margin-right: 20px;}

        &.is-active {
          animation-name: add-underline;
          animation-duration: .25s;
          animation-timing-function: ease-out;
          border-bottom: 2px solid $blue;
        }
      }

    }

  }
}

@keyframes add-underline {
  from {border-bottom: 2px solid transparent}
  to {border-bottom: 2px solid $blue}
}