@mixin square($size) {
  height: $size; width: $size;
}

$text-background: rgba(50, 50, 50, .75);

.project-card {
  user-select: none;
  * {
    user-select: none;
  }

  &:hover .text-container {
    display: block;
    animation: add-background .15s ease-out;
    background-color: $text-background;
    border: 2px solid black;
    border-radius: 2px;

    h1 {
      color: white;
      animation: add-test .2s ease-out;
    }
  }

  position: relative;

  $size: 325px;
  width: $size;

  > * {@include square($size);}

  @media only screen and (min-width: 1500px) {
    $size: 450px;
    width: $size;
    > * {@include square($size);}
  }

  .text-container {
    background-color: transparent;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border: none;

    h1 {color: transparent;}
  }
}

@keyframes add-border {
  from {border: none}
  to {border: 2px solid black}
}

@keyframes add-background {
  from {
    background-color: transparent;
    border: none;
  }
  to {
    background-color: $text-background;
    border: 2px solid black;
  }
}

@keyframes add-text {
  from {color: transparent}
  to {color: white}
}