<div class="contact-form mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Say Hey</h2>
    </div>

    <div class="mdl-card__supporting-text">
        Send me a message and I'll get back to you when I can!
    </div>

    <div class="mdl-card__actions mdl-card--border">
        <form ng-submit="submitForm()" novalidate>
            <div class="name mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="name" ng-model="data.name">
                <label class="mdl-textfield__label" for="name">Name</label>
            </div>

            <div class="email mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="email" ng-model="data.email">
                <label class="mdl-textfield__label" for="email">Email</label>
            </div>

            <div class="message mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" rows= "3" id="message" ng-model="data.message"></textarea>
                <label class="mdl-textfield__label" for="message">Type Your Message</label>
            </div>

            <div class="button-container" type="submit">
                <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">send</button>
            </div>
        </form>
    </div>

    <div class="mdl-card__menu">
        <a title="Find me on Facebook" href="http://facebook.com/cscottschapker"><img src="assets/images/social-icons/facebook-black.svg" alt="Facebook"></a>
        <a title="Find me on LinkedIn" href="http://linkedin.com/in/cscottschapker"><img src="assets/images/social-icons/linkedin-black.svg" alt="LinkedIn"></a>
        <a title="Find me on Github" href="http://github.com/csschapker"><img src="assets/images/social-icons/github-black.svg" alt="Github"></a>
    </div>
</div>