body > main.home {
  text-align: center;

  img.headshot {
    user-select: none;
    border-radius: 2px;
    max-width: 100%;

    @media only screen and (min-width: 725px) {max-width: 700px;}

  }

  .contact-form {
    margin: 0 auto;
  }

}