body > main.home {

  img.headshot {
    user-select: none;
    border-radius: 2px;
    max-width: 100%;

    @media only screen and (min-width: 600px) {max-width: 500px;}
    @media only screen and (min-width: 700px) {max-width: 600px;}
    @media only screen and (min-width: 800px) {max-width: 700px;}

  }

  .contact-form {
    margin: 0 auto;
  }

}