body > .page > main.project {

  .image-slider {
    margin-bottom: 48px;
  }

  .text-container {
    margin: 16px auto;
    width: 80%;
    text-align: left;
    color: white;

    @media only screen and (max-width: 600px) {
      width: 100%;
      padding: 0 8px;
    }

    p {
      margin-bottom: 3em;
    }
  }

  .button-container {
    position: relative;
    width: 100%;
    padding: 16px;
    overflow: hidden;

    button {
      position: relative;
      height: auto;
      line-height: 2em;
      top: 0;
      &.next {float: right;}
      &.previous {float: left;}
    }
  }

}