body > .page > main.project {

  .image-slider {
    margin-bottom: 48px;
  }

  .text-container {
    margin: 16px auto;
    width: 80%;
    text-align: left;
    color: white;

    @media only screen and (max-width: 600px) {
      width: 100%;
      padding: 0 8px;
    }

    p {
      margin-bottom: 3em;
    }
  }

  .button-container {
    position: relative;
    width: 100%;
    padding: 8px 0;
    overflow: hidden;


    button {
      p {
        margin: 0;
        line-height: 1.5em;
      }
      background-color: $charcoal;
      padding: 8px;
      color: white;
      display: block;
      position: relative;
      height: auto;
      margin: 4px auto;
      width: 100%;

      @media only screen and (min-width: 600px) {
        width: auto;
        &.previous{float: left;}
        &.next{float: right;}
      }
    }
  }

}