body main.resume-state {
  position: relative;
  overflow-x: hidden;
  text-align: center;

  a {
    margin-bottom: 25px;
  }

  .scroll-container {
    width: 100%;
    overflow-x: scroll;
  }

  .container {
    margin: 0 auto;
    background-color: white;
    border-radius: 2px;
    width: 612px;
    padding: 10px;

    @media only screen and (max-width: 800px) {
      width: 575px;
    }

    img {
      width: 612px;
      height: 792px;

      @media only screen and (max-width: 800px) {
        width: 575px;
        height: 744px;
      }
    }
  }
}